[submodule "MCU_CPU/ARM/ODROID-C2/cad/src/lib"]
	path = MCU_CPU/ARM/ODROID-C2/cad/src/lib
	url = https://github.com/MLAB-project/documents.git
[submodule "mechanical/WINDGAUGE03"]
	path = mechanical/WINDGAUGE03A
	url = git@github.com:mlab-modules/WINDGAUGE03.git
[submodule "comm_serial/USB232R01A"]
	path = comm_serial/USB232R01A
	url = https://github.com/mlab-modules/USB232R01.git
