[submodule "MCU_CPU/ARM/ODROID-C2/cad/src/lib"]
	path = MCU_CPU/ARM/ODROID-C2/cad/src/lib
	url = https://github.com/MLAB-project/documents.git
[submodule "mechanical/WINDGAUGE03"]
	path = mechanical/WINDGAUGE03A
	url = git@github.com:mlab-modules/WINDGAUGE03.git
[submodule "comm_serial/USB232R01A"]
	path = comm_serial/USB232R01A
	url = https://github.com/mlab-modules/USB232R01.git
[submodule "comm_serial/USB232R01B"]
	path = comm_serial/USB232R01B
	url = https://github.com/mlab-modules/USB232R01.git
[submodule "comm_serial/USB232R01B/sw/ft232r_prog"]
	path = comm_serial/USB232R01B/sw/ft232r_prog
	url = https://github.com/effeerre75/ft232r_prog.git
[submodule "RF/ISM01"]
	path = RF/ISM01A
	url = https://github.com/mlab-modules/ISM01.git
[submodule "sensors/GPS02A"]
	path = sensors/GPS02A
	url = https://github.com/mlab-modules/GPS02.git
[submodule "RF/ISM02"]
	path = RF/ISM02A
	url = https://github.com/mlab-modules/ISM02.git
[submodule "sensors/DATALOGGER01A"]
	path = sensors/DATALOGGER01A
	url = https://github.com/mlab-modules/DATALOGGER01.git
