body {
  margin: 3ex;
  padding: 4ex;
  font-family: "Times New Roman", Garamond, serif;
  line-height: 125%;
  font-size: 105%;
  text-align: justify;
  border: 1px solid silver;
}

body i {
  font-family: "Times New Roman", Garamond, serif;
  line-height: 125%;
  font-size: 100%;
}

pre.code {line-height:10.5pt;font-family:Courier New,Courier; font-size:0.8em;
          color:#660033; letter-spacing:0.005px; border:1px solid #660033;
          margin-left:2em; padding:1em; background-color:#FAFAFA;}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h1,h2,h3,h4 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #444;
  line-height: 115%;
  text-align: left;
}

ul {
  list-style-type:square;
}

ul ul {
  list-style-type:circle;
}

table {
  line-height: 125%;
  font-size: 90%;
}

table.normsize {
  font-size: 100%;
}


small {
  line-height: 115%;
  font-size: 80%;
}

a:link {
  /* color: #900; */
  color: #004080; 
}

a:visited {
  /* color: #900; */
  color: #004080; 
}

a:hover {
  color: #c00;
}

a:active {
  /* color: #900; */
  color: #ff0000; 
}


li {
  margin-bottom: 5px;
}
