/* Kaskádový styl pro rozumné zobrazení XML popisu modulu */
/* ------------------------------------------------------ */

/* Protože je IE6 debil tak to v nìm nefunguje a ladit to nebudu. */
/* U IE6 závisí chování i na komentáøích ve stylu. Neuvìøitelné.  */


design {                          /* top level struktura */
  display:               block;   /* celé je to blok */
  border:        solid red 1px;   /* s rámeèkem okolo sebe */
  margin:                  1em;   /* okolo je kus volného místa */
	font:     1em "Arial" normal;   /* písmo standardní velikosti */
}

design header {                   /* souhrné informace jako blok */
  font-size:               2em;   /* vìtší písmo */
  display:               block;   /* je to blok */
  border-bottom: solid red 1px;   /* se spodní pøíèkou */
  background-color:    #FFFFCC;   /* decentní barva pozadí */
  margin:                 none;   /* bez okrajù */
  padding-left:          0.5em;   /* vnitøní okraj vlevo */
  padding-right:         0.5em;   /* vnitøní okraj vpravo */
}

name-short {        /* krátké jméno */
  color:               #FF0000;   /* barevnì */
  margin:                 none;   /* bez okrajù */
  padding:                 0em;   /* bez výplnì */
}

version {           /* verze modulu */
  color:               #0000FF;   /* barevnì */
  margin:                 none;   /* bez okrajù */
  padding:                 0em;   /* bez výplnì */
}

state {             /* stav modulu */
  color:               #00CC00;   /* barevnì */
  margin:                 none;   /* bez okrajù */
  padding:                 0em;   /* bez výplnì */
}

anotation {                       /* standardní text */
  display:               block;   /* je to blok */
  margin:                  1em;   /* mezera vnì */
  border:        solid red 1px;   /* ohranièení */
  padding:               0.3em;   /* mezera uvnitø */
  background-color:    #FFFFCC;   /* decentní barva pozadí */
}

br {                              /* odøádkování v odstavci */
  display:               block;   /* je to blok */
  margin-top:            0.5em;   /* s horním okrajem */
  margin-bottom:         0.5em;   /* se spodním okrajem */
}
